// page-home {

// }

page-home {
    // .login-content{ 
    //    // background-color: rgb(233, 227, 227); 
          
    //   }
       .card{
        
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 7px ;
       }
    #lable{
        border-radius: 7px ;
      
        background-color: rgba(255, 255, 255, 0.8); 
    }

    .submit-btn{
        border-radius: 20px ;
    }
}
